# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#rest-client
rest-client/yarn.lock
rest-client/*.log
rest-client/npm-debug.log*
rest-client/yarn-debug.log*
rest-client/yarn-error.log*
